// sass settings and variables
$width--xs: 350px;
$width--s: 600px;
$width--m: 800px;
$width--l: 1100px;
$width--xl: 1600px;
$width--max: 2000px;

// fonts
$font--sans: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Open Sans", "Source Sans Pro", "Droid Serif", Arial, "Segoe UI", sans-serif;
$font--serif: "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$font--mono: Courier, monospace;

// raw colors
$color--white: #fff;
$color--silver: #c0c0c0; 
$color--black: #000;
$color--charcoal: #333;
$color--blue-light: #58b;
$color--blue: #258;
$color--blue-dark: #036;
$color--purple: #8e0085;


// semantic colors
$color--background: $color--white;
$color--text: $color--charcoal;
$color--clear-visual-focus: $color--purple;

// layout variables
$base-font-size: 18px;
